@import 'base/var';
@import 'base/bootstrap-config';

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';

@import 'base/mixins';
@import 'base/defaults';
@import 'base/icons';

@import 'module/article';
@import 'module/btn';
@import 'module/call-to-action';
@import 'module/comment';
@import 'module/comments-area';
@import 'module/entry-footer';
@import 'module/footer';
@import 'module/form-control';
@import 'module/grunion';
@import 'module/header';
@import 'module/lead';
@import 'module/navbar';
@import 'module/page-header';
@import 'module/pagination';
@import 'module/post-navigation';
@import 'module/sidebar';
@import 'module/testimonial';
@import 'module/widget/widget-page-callout';
@import 'module/widget/widget-social-media';
@import 'module/widget/widget-testimonial';
@import 'module/widget/widget';
@import 'module/work';

@import 'layout/about';
@import 'layout/archive-work';
@import 'layout/contact';
@import 'layout/front-page';

/**
 * @todo Move these styles somewhere more appropriate.
 */
.container-fluid {
    max-width: 1200px;
}
// body {
//     background: lime;
// }
// body {
//     border-top: 10px solid $gray-dark;

//     @media (min-width: $screen-sm-min) {
//         background: $gray-dark;
//         border: none;
//         padding: 10px;
//     }
//     @media (min-width: $screen-md-min) {
//         padding: 15px;
//     }
//     @media (min-width: $screen-lg-min) {
//         padding: 20px;
//     }
// }
// .site {
//     background: $white;
// }

/**
 * Edit Links
 *
 * @todo Move this style to its own module.
 */
.edit-link a {
    background: #2ea2cc;
    border: thin solid #0074a2;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 2;
    padding: 0 10px 1px 10px;
    text-align: center;
    text-decoration: none;

    &:focus,
    &:hover {
        text-decoration: none;
    }
}
