/* ==========================================================================
   Defaults
   ========================================================================== */

a {
    transition:
        background 100ms ease-in-out,
        color 100ms ease-in-out;
}
h1 {
    margin: 0 0 1em;
}
h2 {
    margin: 0 0 1em;
}
h3 {
    margin: 0 0 1em;
}
h4 {
    margin: 0 0 1em;
}
h5 {
    margin: 0 0 1em;
}
h6 {
    margin: 0 0 1em;
}
img {
    height: auto;
    max-width: 100%;
    width: auto;
}
ol {
    margin: 0 0 1em;
}
p {
    margin: 0 0 1em;
}
ul {
    margin: 0 0 1em;
}
