/* ==========================================================================
   Base
   ========================================================================== */

$font-family-fancy: 'Playfair Display', Georgia, serif;

/* Colors
   ========================================================================== */

$gray-darker:  #353738;
$gray-dark:    #49494c;
$gray:         #999999;
$gray-light:   #cccccc;
$gray-lighter: #e9e9e9;

$white:        #fdfdfd;

$brown-dark:   #51331c;
$brown:        #755135;
$brown-light:  mix($brown, $white, 20%);

$green:        #cfd766;
$green-dark:   darken($green, 10%);

$orange:       #ed8f4f;
$orange-dark:  darken($orange, 10%);

$red:          #ec0000;

/* Media Queries
   ========================================================================== */

$retina: '(-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)';

$super-retina: 'print, (-o-min-device-pixel-ratio: 4), (-webkit-min-device-pixel-ratio: 4), (min-resolution: 400dpi)';
