/* ==========================================================================
   Widget Page Callout
   ========================================================================== */

/**
 * Styles for the theme's custom 'Page Callout' widget.
 */

.widget_capstone_page_callout {
    @include fancy-border($variation: 3);
    @include vertical-spacing($size: 2);
    @include vertical-spacing($size: 2, $method: 'margin');

    .widget-thumbnail {
        margin: 0 auto .5em auto;
        width: 120px;

        @media (min-width: $screen-sm) {
            margin-bottom: 1em;
        }

        img {
            border-radius: 50%;
            display: block;
            max-width: none;
            width: 100%;
        }
    }
    .widget-content {

    }
    .widget-button {
        text-align: center;
    }
}
