/* ==========================================================================
   Article
   ========================================================================== */

%article {
    .entry-meta {
        @include vertical-spacing($method: 'margin');

        .posted-on {
            @include uppercase;

            color: $gray;
            font-size: $font-size-small;
            line-height: $line-height-small;
        }
    }
    .entry-title {
        @include heading;
    }
}

/* Excerpts
   ========================================================================== */

/**
 * Blog post excerpts.
 */
.article--excerpt {
    @extend %article;

    @include vertical-spacing;
    @include vertical-spacing($size: 2, $method: 'margin');

    border-bottom: thin solid $brown-light;
    text-align: center;

    .entry-thumbnail {
        @include vertical-spacing($method: 'margin');

        img {
            max-width: none;
            width: 100%;
        }
    }
    .entry-summary {
        @include vertical-spacing($method: 'margin');

        text-align: left;

        @media (min-width: $screen-sm-min) {
            padding-right: $grid-gutter-width;
            padding-left: $grid-gutter-width;
        }

        p {
            margin-bottom: 0;
        }
    }
    .btn {
        padding-right: 24px;
        padding-left: 24px;
    }
}

/* Article
   ========================================================================== */

.article {
    @extend %article;

    .entry-header {
        text-align: center;
    }
    .entry-content {
        a {
            text-decoration: underline;
        }
        h1 {
            color: $green-dark;
            font-family: 'Playfair Display', Georgia, serif;
            font-style: italic;
            font-weight: 700;
            text-align: center;
        }
        h2 {
            color: $brown;
            font-style: italic;
            font-weight: 700;
            text-align: center;
        }
        h3 {
            @include uppercase;

            color: $gray-dark;
            text-align: center;
        }
        h4 {
            @include uppercase;

            color: $gray;
            font-size: 100%;
            font-weight: 700;
        }
        h5 {
            color: $gray;
            font-size: 100%;
            font-weight: 700;
        }
        h6 {
            @include uppercase;

            color: $gray;
        }
        img.size-full {
            @media (min-width: $screen-sm-min) {
                max-width: none;
                margin: 1em 0 1em -10%;
                width: 125%;
            }
            @media (min-width: $screen-md-min) {
                margin-left: -16.67%;
                width: 133.3%;
            }
        }
        .lead {
            border-color: $brown-light;
            border-style: solid;
            border-width: thin 0;
            color: $brown;
            font-size: $font-size-h4;
            font-style: italic;
            line-height: 1.6;
            margin: 0 0 1em;
            padding: 1em 0;

            @media (min-width: $screen-sm-min) {
                font-size: $font-size-h2;
                line-height: 1.7;
                margin: 0 0 1.5em;
                padding: 1em 1.7em;
            }
        }
    }
}
