/* ==========================================================================
   Button
   ========================================================================== */

/**
 * Extend Twitter Bootstrap's button styles.
 */

.btn {
    border: none;
    transition:
        background 100ms ease-in-out,
        color 100ms ease-in-out;

    &:active {
        box-shadow: none;
    }
}
.btn-default {
    background: $brown;
    color: $white;

    &:focus,
    &:hover {
        background: $orange;
        color: $white;
    }
    &:active {
        background: $orange-dark;
        color: $white;
    }
}
