/* ==========================================================================
   Entry Footer
   ========================================================================== */

.entry-footer {
     @include vertical-spacing($method: 'margin');

    .cat-links,
    .tags-links {
        color: $gray;
        display: block;
        font-size: $font-size-small;
        line-height: $line-height-small;

        a {
            color: $gray-dark;
            text-decoration: underline;

            &:focus,
            &:hover {
                color: $orange;
            }
            &:active {
                color: $orange-dark;
            }
        }
    }

    /**
     * 'Edit' button links when a user is logged in.
     */
    .edit-link {
        display: block;
        margin-top: 1em;
        text-align: right;
    }
}
