/* ==========================================================================
   Footer
   ========================================================================== */

.site__footer {
    @include vertical-spacing($size: 2, $method: 'margin');
    @include vertical-spacing($size: 3, $method: 'margin', $direction: 'top');

    .col-xs-12:nth-of-type(odd) {
        @media (min-width: $screen-sm-min) {
            clear: left;
        }
        @media (min-width: $screen-md-min) {
            clear: none;
        }
    }

    .copyright {
        @include uppercase;

        color: $gray-light;
        display: block;
        font-size: $font-size-h6;
        line-height: 1.5;
        padding: .5em 0;
        text-align: center;

        // @media (min-width: $screen-sm-min) {
        //     padding: 2em 0 3em;
        // }
    }
}
