/* ==========================================================================
   Footer
   ========================================================================== */

.site__footer {
    @include vertical-spacing($size: 2);
    @include vertical-spacing($size: 2, $direction: 'top');
    @include vertical-spacing($size: 3, $method: 'margin', $direction: 'top');

    background: $brown-lighter;
    border-top: thin solid $brown-light;

    .col-xs-12:nth-of-type(odd) {
        @media (min-width: $screen-sm-min) {
            clear: left;
        }
        @media (min-width: $screen-md-min) {
            clear: none;
        }
    }

    .copyright {
        @include uppercase;

        color: mix($brown-light, $brown);
        display: block;
        font-size: $font-size-h6;
        line-height: 1.5;
        padding: .5em 0;
        text-align: center;

        a {
            color: inherit;
            text-decoration: underline;

            &:focus,
            &:hover {
                color: $orange;
            }
            &:active {
                color: $orange-dark;
            }
        }
    }
}
.site__footer__bottom {
    @include vertical-spacing($direction: 'top');
}

/* Navigation
   ========================================================================== */

#navigation {
    text-align: center;

    a[rel='home'] {
        @include uppercase;

        color: $gray-dark;
        display: block;
        font-family: $font-family-fancy;
        font-size: $font-size-h1;
        line-height: $headings-line-height;
        margin: 0 0 1em;
        text-decoration: none;

        &:focus,
        &:hover {
            color: $orange;
        }
        &:active {
            color: $orange-dark;
        }
    }
    ul {
        a {
            @include uppercase;

            color: $gray-dark;
            background: none;

            &:focus,
            &:hover {
                color: $green-dark;
            }
            &:active {
                color: $green;
            }
        }
    }
}


/* Widgets
   ========================================================================== */

.site__footer {
    .widget-title {
        font-family: $font-family-fancy;
        line-height: $headings-line-height;
    }
}

