/* ==========================================================================
   Header
   ========================================================================== */

.site__header {
    @include vertical-spacing($size: 3, $method: 'margin');

    @media (min-width: $screen-sm-min) {
        @include vertical-spacing($method: 'margin', $direction: 'top');
    }

    .navbar-default {
        background: none;
        border-color: $brown-light;
        border-width: 0 0 thin 0;

        @media (min-width: $screen-sm-min) {
            border: none;
        }

        .navbar-collapse {
            border: none;

            a {
                @include uppercase;

                text-align: center;

                @media (min-width: $screen-sm-min) {
                    font-size: $font-size-h4;
                }
            }
        }
    }

    .navbar-brand {
        @include uppercase;

        font-family: $font-family-fancy;
        font-size: $font-size-h1;
        font-weight: 700;
        letter-spacing: .1ex;

        &:active {
            color: $orange-dark;
        }
    }

    .navbar-toggle {
        border: none;

        .icon-bar {
            border-radius: 0;
            height: 4px;

            + .icon-bar {
                margin-top: 3px;
            }
        }
    }
    .navbar-default .navbar-toggle {
        &:focus,
        &:hover {
            .icon-bar {
                background: $white;
            }
        }
        &:active {
            background: $orange-dark;

            .icon-bar {
                background: $white;
            }
        }
    }

    @media (min-width: $screen-sm-min) {
        .navbar-header,
        .navbar-brand,
        .navbar-nav,
        .navbar-nav > li {
            float: none;
        }
        .navbar-header {
            text-align: center;
        }
        .navbar-brand {
            display: inline-block;
            font-size: 36px;
            margin-left: 0;

            @media (min-width: $screen-md-min) {
                font-size: 48px;
            }
        }
        .navbar-nav {
            text-align: center;
        }
        .navbar-nav > li {
            display: inline-block;
        }
        .navbar-default .navbar-collapse {
            border-bottom: thin solid $brown-light;
        }
    }

    /**
     * Active navigation.
     *
     * These selectors run deep to override Twitter Bootstrap's
     * ridiculousness.
     */
    .navbar-default .navbar-nav > li > a {
        &:focus,
        &:hover {
            color: $orange;
        }
        &:active {
            color: $orange-dark;
        }
    }
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .current-menu-item > a,
    .navbar-default .navbar-nav > .current_page_parent > a,
    .single-work & .navbar-default .navbar-nav > li > a[href*='/work'] {
        background: $brown-lighter;
        color: $green-dark;
        font-weight: 700;

        &:focus,
        &:hover {
            color: $orange;
        }
        &:active {
            color: $orange-dark;
        }

        @media (min-width: $screen-sm-min) {
            background: none;
        }
    }
    .post-type-archive-work &,
    .single-work & {
        .navbar-default .navbar-nav > .current_page_parent > a {
            background: none;
            color: $gray-dark;
            font-weight: 400;

            &:focus,
            &:hover {
                color: $orange;
            }
            &:active {
                color: $orange-dark;
            }
        }
    }
}
