/* ==========================================================================
   Header
   ========================================================================== */

.site__header {
    @include vertical-spacing($method: 'margin');

    // border-top: 1em solid $brown;

    .navbar-default {
        background: none;
        border: none;

        .navbar-collapse {
            border: none;

            a {
                @include uppercase;

                text-align: center;

                @media (min-width: $screen-sm-min) {
                    font-size: $font-size-h4;
                }
            }
            .active a {
                @media (min-width: $screen-sm-min) {
                    background: none;
                    color: $green-dark;
                    font-weight: 700;
                }
            }
        }
    }

    .navbar-toggle {
        .icon-bar {
            border-radius: 0;
        }
    }

    @media (min-width: $screen-sm-min) {
        .navbar-header,
        .navbar-brand,
        .navbar-nav,
        .navbar-nav > li {
            float: none;
        }
        .navbar-header {
            text-align: center;
        }
        .navbar-brand {
            display: inline-block;
            font-size: $font-size-h1;
            font-style: italic;
            font-weight: 400;
            margin-left: 0;
        }
        .navbar-nav {
            text-align: center;
        }
        .navbar-nav > li {
            display: inline-block;
        }
        .navbar-default .navbar-collapse {
            border-bottom: thin solid $brown-light;
        }
    }
}
