/* ==========================================================================
   Navbar
   ========================================================================== */

/**
 * Styles for Twitter Bootstrap's default navbar, which appears in the
 * theme's header.
 */

.navbar-default {
    background: none;
    border-color: $brown-light;
    border-width: 0 0 thin 0;

    @media (min-width: $screen-sm-min) {
        border: none;
    }

    .navbar-collapse {
        border: none;

        a {
            @include uppercase;

            text-align: center;

            @media (min-width: $screen-sm-min) {
                font-size: $font-size-h4;
            }
        }
    }
}

/**
 * Dropdown menus.
 *
 * The theme supports a single level of drop-down navigation.
 */
.navbar-default .navbar-nav {
    .dropdown-toggle {
        position: relative;

        .caret {
            border-top-color: mix($brown-light, $brown);

            position: absolute;
            right: 15px;
            top: 18px;
        }
        @media (min-width: $screen-sm) {
            border-color: transparent;
            border-style: solid;
            border-width: thin thin 0;

            &:after {
                background: transparent;
                bottom: -2px;
                content: '';
                display: block;
                height: 3px;
                left: 0;
                position: absolute;
                width: 100%;
                z-index: $zindex-navbar + 1;
            }

            .caret {
                border-top-color: mix($brown-light, $brown, 75%);
                position: static;
                vertical-align: .2em;
            }
        }
    }
    .dropdown-menu {
        background: $brown-lighter;
        padding: 0 0 10px;

        @media (min-width: $screen-sm) {
            border-color: $brown-light;
            border-width: thin;
            box-shadow: none;
            padding: 5px 0;
        }
    }

    // Open
    > .open > a {
        &,
        &:focus {
            color: $green-dark;
        }
        &:hover {
            color: $orange;
        }
        &:active {
            color: $orange-dark;
        }

        @media (min-width: $screen-sm) {
            border-color: $brown-light;

            &:after {
                background: $brown-lighter;
            }
        }
    }
    .open {
        .dropdown-toggle .caret {
            border-top-color: $green-dark;
        }
        .dropdown-menu > li > a {
            color: mix($brown-light, $brown);
            letter-spacing: 0;
            padding-left: 15px;
            text-transform: none;

            @media (min-width: $screen-sm) {
                font-size: $font-size-h5;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            &:focus,
            &:hover {
                background: none;
                color: $orange;
            }
            &:active {
                color: $orange-dark;
            }
        }
    }
}

/**
 * Branding.
 */
.navbar-brand {
    @include uppercase;

    font-family: $font-family-fancy;
    font-size: $font-size-h1;
    font-weight: 700;
    letter-spacing: .1ex;

    &:active {
        color: $orange-dark;
    }
}

/**
 * Menu toggler.
 */
.navbar-toggle {
    border: none;

    .icon-bar {
        border-radius: 0;
        height: 4px;

        + .icon-bar {
            margin-top: 3px;
        }
    }
}
.navbar-default .navbar-toggle {
    &:focus,
    &:hover {
        .icon-bar {
            background: $white;
        }
    }
    &:active {
        background: $orange-dark;

        .icon-bar {
            background: $white;
        }
    }
}

@media (min-width: $screen-sm-min) {
    .navbar-header,
    .navbar-brand,
    .navbar-nav,
    .navbar-nav > li {
        float: none;
    }
    .navbar-header {
        text-align: center;
    }
    .navbar-brand {
        display: inline-block;
        font-size: 36px;
        margin-left: 0;

        @media (min-width: $screen-md-min) {
            font-size: 48px;
        }
    }
    .navbar-nav {
        text-align: center;
    }
    .navbar-nav > li {
        display: inline-block;
    }
    .navbar-default .navbar-collapse {
        border-bottom: thin solid $brown-light;
    }
}

/**
 * Active navigation.
 *
 * These selectors run deep to override Twitter Bootstrap's
 * ridiculousness.
 */
.navbar-default .navbar-nav > li > a {
    &:focus,
    &:hover {
        color: $orange;
    }
    &:active {
        color: $orange-dark;
    }
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .current-menu-item > a,
.navbar-default .navbar-nav > .current_page_parent > a,
.navbar-default .navbar-nav > .current-menu-ancestor > a,
.single-work .navbar-default .navbar-nav > li > a[href*='/work'] {
    background: $brown-lighter;
    color: $green-dark;
    font-weight: 700;

    &:focus,
    &:hover {
        color: $orange;
    }
    &:active {
        color: $orange-dark;
    }

    @media (min-width: $screen-sm-min) {
        &,
        &:focus,
        &:hover {
            background: none;
        }
    }
}
.tax-work_categories,
.post-type-archive-work,
.single-work {
    .navbar-default .navbar-nav > .current_page_parent > a {
        background: none;
        color: $gray-dark;
        font-weight: 400;

        &:focus,
        &:hover {
            color: $orange;
        }
        &:active {
            color: $orange-dark;
        }
    }
}
.tax-work_categories .navbar-default .navbar-nav > .current-menu-ancestor.open > a {
    background: $brown-lighter;
}
.navbar-default .navbar-nav .dropdown-menu > .active > a {
    background: $brown-lighter;
    font-weight: 700;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a {
    color: $green-dark;
}
