/* ==========================================================================
   Sidebar
   ========================================================================== */

/**
 * Styles for the site's sidebar, which appears on the blog and its
 * derivative templates.
 */

.site__sidebar {
    // Generic widgets
    .widget_archive,
    .widget_categories,
    .widget_nav_menu,
    .widget_recent_entries {
        @include vertical-spacing;
        @include vertical-spacing($method: 'margin');

        border-bottom: thin solid $brown-light;
    }
    .widget_search {
        @include vertical-spacing($method: 'margin');
    }

    .widget-title {
        @include uppercase;

        color: $gray-dark;
        font-size: $font-size-h3;
        font-weight: 700;
        line-height: $headings-line-height;
        margin-bottom: .5em;

        @media (min-width: $screen-sm) {
            margin-bottom: 1em;
        }
    }
}
