/* ==========================================================================
   Widget
   ========================================================================== */

.widget {

}
.widget-title {
    text-align: center;

}

/* List Widgets
   ========================================================================== */

.widget_archive,
.widget_categories,
.widget_recent_entries,
.widget_nav_menu {
    ul {
        list-style-type: none;
        padding: 0;
    }
}

/* Theme Testimonial Widget
   ========================================================================== */

.widget_capstone_testimonial {
    .widget-content {

    }
}

/* Theme Page Callout Widget
   ========================================================================== */

.widget_capstone_page_callout {
    .widget-content {

    }
}
