/* ==========================================================================
   Work
   ========================================================================== */

/* Work Micro
   ========================================================================== */

.work--micro {
    margin-bottom: 1em;
    text-align: center;

    @media (min-width: $screen-sm-min) {
        margin-bottom: 2em;
    }

    a {
        color: $green-dark;
        display: block;

        &:focus,
        &:hover {
            text-decoration: none;

            &,
            .work__location {
                color: $orange;
            }
            img {
                opacity: .8;
            }
        }
        &:active {
            &,
            .work__location {
                color: $orange-dark;
            }
        }
    }

    .entry-thumbnail {
        background: $gray-dark;
        height: 0;
        margin-bottom: .25em;
        overflow: hidden;
        padding-bottom: 100%;

        @media (min-width: $screen-sm-min) {
            margin-bottom: 1em;
        }
    }
    img {
        display: block;
        min-width: none;
        transition: opacity 100ms ease-in-out;
        width: 100%;
    }
    .work__title {
        font-family: $font-family-fancy;
        font-size: 100%;
        font-weight: 700;
        margin: 0 0 .25em;

        @media (min-width: $screen-sm-min) {
            font-size: $font-size-h3;
        }
        @media (min-width: $screen-md-min) {
            font-size: $font-size-h1;
        }
    }
    .work__location {
        @include uppercase;

        color: $gray;
        font-size: 10px;
        line-height: $line-height-small;
        margin: 0;
        transition: color 100ms ease-in-out;

        @media (min-width: $screen-sm-min) {
            font-size: $font-size-h6;
        }
    }
}

/* Work Single
   ========================================================================== */

.work--single {
    .work__title {

    }
    .work__location {
        color: $gray;
        font-size: 100%;
        font-weight: 700;
        // font-style: italic;
        line-height: $line-height-base;
    }
    .work__date {
        @include uppercase;

        color: $gray;
        font-size: $font-size-h6;
    }
}
