/* ==========================================================================
   About
   ========================================================================== */

/* Testimonial
   ========================================================================== */

.about__testimonial {
    @include vertical-spacing($direction: 'top');

    border-top: thin solid $brown-light;
}

/* Call to Action
   ========================================================================== */
