/* ==========================================================================
   Front Page
   ========================================================================== */

.front-page__work,
.front-page__about,
.front-page__blog,
.front-page__contact {
    margin-top: ($grid-gutter-width / 2);
    margin-bottom: ($grid-gutter-width / 2);
    text-align: center;

    a {
        color: $gray-darker;
        display: block;
        text-decoration: none;

        &:focus,
        &:hover {
            .btn {
                background: $orange;
            }
        }
        &:active {
            .btn {
                background: $orange-dark;
            }
        }

        @media (min-width: $screen-sm-min) {
            min-height: 30em;
            overflow: hidden;
            position: relative;
        }
        @media (min-width: $screen-md-min) {
            min-height: 32em;
        }
        @media (min-width: $screen-lg-min) {
            min-height: 40em;
        }
    }

    picture {
        display: block;
        margin: 0 0 .5em;

        @media (min-width: $screen-sm-min) {
            height: 100%;
            left: 0;
            margin: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
    img {
        display: block;
        height: auto;
        max-width: none;
        width: 100%;
    }
    .btn {

    }
}

.front-page__section__content {
    @media (min-width: $screen-sm-min) {
        background: $white;
        background: rgba($white, .6667);
        bottom: 0;
        left: 0;
        padding: $grid-gutter-width / 4;
        position: absolute;
        width: 100%;
    }
    @media (min-width: $screen-md-min) {
        padding: $grid-gutter-width / 2;
    }
    @media (min-width: $screen-lg-min) {
        padding: $grid-gutter-width;
    }

    h1 {
        font-family: $font-family-fancy;
        font-size: $font-size-h1;
        font-weight: 700;
        margin: 0 0 .25em;

        @media (min-width: $screen-sm-min) {
            font-size: 32px;
        }
        @media (min-width: $screen-md-min) {
            font-size: 36px;
            line-height: 1.1;
            margin-bottom: .5em;
        }
    }
    p.lead {
        font-size: 100%;
        margin: 0 0 .5em;

        @media (min-width: $screen-sm-min) {
            font-size: $font-size-h4;
            margin-bottom: .75em;
        }
        @media (min-width: $screen-md-min) {

        }
    }
}

/* Intro
   ========================================================================== */

.front-page__intro {
    text-align: center;

    h1 {
        @include heading;
    }
    .lead {
        font-size: 100%;
        line-height: $line-height-base;
    }
}
